/* Your CSS goes here */

input {
    background-color: yellow;
}


p {
    border-style: solid;
    border-width: 2px;
    display: inline;
}

.last-name {
    font-weight: bold;
}

fieldset {
    display: inline;
}